<% provide(:title, "ホーム") %>
<div class="top-container">
    <h1>クラコピ</h1>
    <p>ネーミングとキャッチコピーの募集と提案ができるサービス</p>
     <div class="button-link">
    <%= link_to '新規登録', new_user_registration_path, class:"btn btn-primary" %>
    </div>
    <div class="btn-link">
    <button type="button" class="btn btn-warning">かんたんログイン</button>
    </div>

</div>
