<% provide(:title, "ホーム") %>
<div class="top-container">
    <h1>クラコピ</h1>
    <p>ネーミングとキャッチコピーの募集と提案ができるサービス。</p>
    <div class="btn-link">
    <button type="button" class="btn btn-warning">かんたんログイン</button>
    </div>
</div>
