<% provide(:title, "ホーム") %>
<div class="top-container">
    <h1>クラコピ</h1>
    <p>ネーミングとキャッチコピーの募集と提案ができるサービス</p>
     <div class="button-link">
    <%= link_to '新規登録', new_user_registration_path, class:"btn btn-primary" %>
    </div>
    <div class="btn-link">
    <%= link_to 'かんたんログイン', users_guest_sign_in_path, class:"btn btn-warning", method: :post %>
</div>
 <footer>
  <address>Copyright(C)2019 K.HATA,Allright Reserved.</address>
</footer>
