<h3>提案リスト一覧</h3>
<hr>
<% @comments.each do |comment| %>
  <div>
    <%= link_to comment.user.username, user_path(comment.user.id) %>
    <%= simple_format comment.content %>
    <%= comment.created_at.strftime("%Y年%m月%d日 %H時%M分") %>
    <% if comment.user_id == current_user.id %>
      <%= link_to '提案文を削除', post_comment_path(@post.id), method: :delete, data: { confirm: "提案文を削除しますか？この操作は取り消せません。"}, class: "btn btn-danger btn-md" %>
    <% end %>
    <hr>
  </div>
<% end %>
