<div class="posts-index">
  <div class="container">
    <div class="post-item-box">
      <div class="col-md-12">
        <h1><i class="fas fa-edit"></i>投稿文作成</h1>
        <div class="new-post">
          <%= render 'form', post: @post %>
        </div>
      </div>
    </div>
  </div>
</div>
