/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@charset "utf-8";
@import "bootstrap";
@import "posts";
@import "users";

body {
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ,
    Meiryo, "ＭＳ Ｐゴシック", sans-serif;
}

// img {
//   max-width: 100%;
//   height: auto;
// }

.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

.alert-danger {
  margin-top: 16px;
  margin-bottom: 0px;
}
.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

.btn-block {
  color: #fff;
}

.notice {
  margin-bottom: -16px;
}

nav {
  width: 100%;
  background-color: #fff;
  a {
    color: white;
  }
}

.top-container {
  background-image: url("/images/bg.jpg");
  height: 500px;
  width: 100%;
  background-size: cover;
  text-align: center;
  color: white;
  h1 {
    font-size: 70px;
    padding-top: 100px;
    padding-bottom: 15px;
    letter-spacing: 2px;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  }
  p {
    font-size: 20px;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  }
}

footer {
  width: 100%;
  background-color: #fff;
  color: gray;
  opacity: 0.5;
  text-align: center;
  bottom: 0;
  padding: 0;
  font-size: 15px;
  border-top: solid 1px gray;
  address {
    margin-bottom: -16px;
  }
}

a.navbar-brand img {
  width: 130px;
  height: 50px;
}

.btn-link {
  padding-top: -4px;
  .btn {
    color: #fff;
    max-width: 576px;
    padding: 10px 75px;
    background-color: #fcb01c;
    border-color: #fcb01c;
    font-size: 23px;
    margin-top: 15px;
    border-radius: 25px;
    font-weight: 800;
    box-shadow: 2px 2px 4px gray;
    display: inline-block;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    &:hover {
      background-color: #fcc41c;
      border-color: #fcc41c;
    }
  }
}

.button-link {
  padding-top: -4px;
  .btn {
    color: #fff;
    max-width: 576px;
    padding: 10px 120px;
    font-size: 23px;
    margin-top: 10px;
    border-radius: 25px;
    font-weight: 800;
    box-shadow: 2px 2px 4px gray;
    display: inline-block;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
}

.jumbotron {
  background-color: #fff;
  margin-bottom: -32px;
  h1 {
    color: #35477d;
    text-align: center;
    font-weight: bold;
  }
}

.jumbotron {
  padding-top: 40px;
  .button-jumbotron {
    border-radius: 5px;
    text-align: center;
    p {
      margin-bottom: 30px;
    }
    h2 {
      margin-bottom: 32px;
    }
  }
}

.btn-jumbotron {
  text-align: center;
  margin: 16px 0;
}

.container {
  padding: 0 10px;
  max-width: 700px;
  .jumbotron-list {
    background: whitesmoke;
    padding: 0 8px;
    position: relative;
    margin: 0 24px;
    li {
      line-height: 1.5;
      padding: 8px 0 8px 20px;
      border-bottom: 2px solid white;
      list-style-type: none !important;
      &:last-of-type {
        border-bottom: none;
      }
    }
  }
}

.fa-check {
  color: #47b8e0;
  margin-right: 18px;
  text-align: center;
}

.jumbotron-p {
  text-align: center;
  margin: 20px 0;
}

.fa-lightbulb {
  padding-left: 10px;
}

.fa-newspaper,
.fa-paper-plane,
.user-edit,
.fa-sign-in-alt,
.fa-sign-in-alt,
.fa-user-plus,
.fa-user,
.fa-users {
  padding-right: 2px;
}

.btn-primary {
  background-color: #35477d;
  border-color: #35477d;
}

.btn-warning {
  background-color: #ffc952;
}

.btn-outline-primary {
  border-color: #35477d;
}

.btn-danger {
  background-color: #ff7473;
  border-color: #ff7473;
}

.btn-info {
  background-color: #47b8e0;
  border-color: #47b8e0;
}

.btn-link .btn {
  background-color: #ffc952;
  border-color: #ffc952;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.user-image {
  border: 2px solid lightgray;
  border-radius: 150px;
}

.user-photo {
  margin: 0 auto;
  text-align: center;
  padding-top: 24px;
}

.username-show {
  text-align: center;
  font-weight: bold;
  font-size: large;
  padding-top: 8px;
}

.profile-show {
  padding: 8px 4px;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.user-nav {
  padding-top: 8px;
  margin: auto;
  max-width: 650px;
}

.nav-tabs .nav-link.disabled {
  width: 100%;
}

.nav-link-user {
  margin: 0 auto;
}

.btn-update {
  margin-bottom: 8px;
}

.follow-user {
  text-align: center;
}

.follow-count {
  text-align: center;
  padding: 16px;
}

.follow-btn {
  border: 2px solid #35477d;
}
