// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.text-right {
  text-align: right;
}

.post-image {
  border: 1px solid lightgray;
}

.post-image-title {
  padding-left: 3px;
}

.post-item-box {
  box-shadow: 2px 2px 4px gray;
}
.post-item {
  border-bottom: 1px solid #e8e8e8;
  padding: 25px;
  box-sizing: border-box;
  max-width: 700px;
}

.post-list {
  display: flex !important;
}

.user-img {
  margin-right: 16px;
  border: 2px solid lightgray;
  border-radius: 30px;
}

.post-body {
  color: black;
}

.post-menu {
  display: flex;
  color: gray;
  font-size: 14px;
  flex-wrap: wrap;
  align-items: center;
}

.post-title {
  color: black;
  font-weight: bold;
  margin-bottom: 10px;
}

.post-user {
  margin-right: 10px;
  color: black;
}

.like-btn-unlike {
  color: #f84f50;
  margin-left: 5px;
}

.like-btn {
  color: #f84f50;
  margin-left: 5px;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 15px 0;
  background-color: #fff;
}

.posts-index {
  background-color: #f1f3f4;
  padding: 50px 0;
}

.post-item-box {
  box-shadow: 0 3px 6px lightgray;
  margin: 0 -10px;
}

.pagination {
  justify-content: center;
  display: flex;
  margin-top: 15px;
}
