// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.text-right {
  text-align: right;
}

.post-image {
  border: 1px solid lightgray;
}

.post-image-title {
  padding-left: 3px;
}

.post-item-box {
  box-shadow: 2px 2px 4px gray;
}

.post-item {
  border-bottom: 1px solid #e8e8e8;
  padding: 16px;
  box-sizing: border-box;
  max-width: 700px;
}

.post-list {
  display: flex !important;
}

.user-img {
  margin-right: 16px;
  border: 2px solid lightgray;
  border-radius: 50px;
}

.post-body {
  color: black;
}

.post-menu {
  display: flex;
  color: gray;
  font-size: 16px;
  flex-wrap: wrap;
  align-items: center;
}

.post-title {
  color: black;
  font-weight: bold;
  margin-bottom: 4px;
  font-size: 18px;
}

.post-user {
  margin-right: 10px;
  color: black;
}

.like-btn-unlike {
  color: #003cbe;
  margin-left: 5px;
}

.like-btn {
  color: #003cbe;
  margin-left: 5px;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 15px 0;
  background-color: #fff;
}

.posts-index {
  background-color: #f1f3f4;
  padding: 50px 0;
}

.post-item-box {
  box-shadow: 0 3px 6px lightgray;
  margin: 0 -10px;
}

.pagination {
  justify-content: center;
  display: flex;
  margin-top: 15px;
}

.post-show-user {
  padding: 20px 20px 20px 0;
  display: flex;
  .post-username {
    padding-top: 24px;
    display: flex;
    .post-time {
      padding-left: 10px;
    }
  }
}

.post-show-title h2 {
  font-size: 32px;
  font-weight: 700;
}

h3 {
  color: #35477d;
  padding-top: 15px;
  font-size: 24px;
  font-weight: 500;
  border-bottom: solid 3px lightgray;
  position: relative;
}

h3:after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 3px #35477d;
  bottom: -3px;
  width: 20%;
}

.post-change {
  display: block;
  text-align: right;
  padding: 10px;
}

.comment-list {
  padding: 10px 0;
}

.comment-form {
  padding: 0 15px 15px 15px;
}

.new-post {
  padding: 20px 0;
}

.fa-edit {
  padding-top: 20px;
}

.post-img {
  max-width: 50%;
  margin: auto;
  padding-top: 16px;
}

.post-photo {
  max-width: 100%;
  margin: auto;
}

.comment-btn {
  color: black;
  margin-left: 5px;
}

.comment-content {
  padding: 4px 16px 4px 24px;
  font-size: large;
}

.comment-time {
  color: gray;
  text-align: right;
}

.comment-btn {
  float: right;
  padding: 8px 0 8px 8px;
  margin: 5px 2px 5px 5px;
}

.post-body {
  p {
    padding: 0 16px;
  }
}

.post-tag {
  padding: 0 10px;
}

.badge-primary {
  background-color: #ffc952;
}

a {
  color: black;
}

.pagination {
  padding-bottom: 15px;
}
