// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.text-right {
  text-align: right;
}

.post-image {
  border: 1px solid lightgray;
}

.post-image-title {
  padding-left: 3px;
}
