// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.users-index {
  background-color: #f1f3f4;
  padding: 50px 0;
}

.user-item-box {
  box-shadow: 0 3px 6px lightgray;
  margin: 0 -10px;
}

.user-img {
  margin: 4px 10px 10px 10px;
}

.user-menu {
  display: block;
  font-size: 24px;
  flex-wrap: wrap;
  align-items: flex-start;
}

.user-item {
  border-bottom: 1px solid #e8e8e8;
  padding: 8px;
  box-sizing: border-box;
  max-width: 700px;
}

.user-list {
  display: flex !important;
}

.user-name {
  display: block;
  color: black;
  margin: 8px 0 0 8px;
}

.user-profile {
  max-width: 250px;
  font-size: 16px;
  margin: -8px 0 0 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

p {
  display: block;
}

.nav-tabs {
  padding: 0 32px !important;
}
