<p><%= @resource.username %>様</p>

<p>ログインに一定回数失敗したためアカウントがロックされました。</p>

<p>お手数ですが、下記の『アカウントロック解除』をクリックしていただき解除をお願いいたします。</p>

<p><%= link_to 'アカウントロック解除', unlock_url(@resource, unlock_token: @token) %></p>
